<!DOCTYPE html>
<html>
<head>
</head>
<body>
	
	<h1 id="temp-display"></h1>
	<form action="/temperature_change" method="post">
		<button type="submit" name="up">&#8593;</button>
		<button type="submit" name="down">&#8595;</button>
	</form>
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/Thermostat.js"></script>
	<script type="text/javascript" src="js/Interface.js"></script>
</body>
</html>